discord.py[voice,speed]
yt-dlp[default,curl-cffi]
yt-dlp-ejs
# yt-dlp-get-pot
# yt-dlp-getpot-wpc
aiosqlite
aiohttp
aiocache
python-dotenv
pyshorteners
playwright
PyNaCl

# 高速化ライブラリ (無くても動く)
winloop #Windowsの場合
#uvloop #Unix系OSの場合
aiodns