discord.py[voice,speed]
yt-dlp[default,curl-cffi]
yt-dlp-ejs
aiosqlite
aiohttp
aiocache
python-dotenv
pyshorteners
playwright
PyNaCl

# 高速化ライブラリ (無くても動く)
winloop #Windowsの場合
#uvloop #Unix系OSの場合
# aiodns # python 3.12以降はエラーが出る
Brotli